extends layout.pug

block content
  form(method='POST')
    .field
      label.label Oud Password (Vereiste als je je wachtwoord wilt aanpassen)
      .control.has-icons-left
        input.input(type='password', name='oldPassword', placeholder='pa$$word!')
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      label.label Nieuw Password (Leeg laten als je niet wilt veranderen)
      .control.has-icons-left
        input.input(type='password', name='newPassword', placeholder='pa$$word!')
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value='Opslaan')
          
